# Flask and extensions
Flask
Flask-SQLAlchemy
Flask-Login
Flask-Migrate
Flask-SocketIO
Authlib

# Server dependencies
gunicorn
eventlet
gevent
gevent-websocket

# Environment variables
python-dotenv

# AI Models
openai
google-generativeai
espeakng

# Speech Recognition and Text to Speech
pyttsx3
SpeechRecognition

# Utilities
requests
Werkzeug
itsdangerous
Jinja2
MarkupSafe
